# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# VSCode
.vscode/
.env

# DevContainer
.devcontainer/.env
autogen_azure_devops_agent/repositorio/

# Carpeta de repositorios clonados
repo_clonado/

# OS
.DS_Store
Thumbs.db
